<footer>
            <ul class='clearfix'>
                <li><img src='../../../static/common/imgs/qq.png' alt=''><p>我的QQ号</p></li>
                <li><img src='../../../static/common/imgs/wx.png' alt=''><p>我的微信</p></li>
                <li><h4>站点声明</h4>
                    <ol>
                        <li>1、版权所有：建鹏个人博客</li>
                        <li>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：1004515739@qq.com</li>
<li>3、备案号：浙ICP备2020031680号-1</li>                    
</ol>
                </li>
            </ul>
    </footer>
