<header class='clearfix'>
                <h3><a href="{% url 'index' %}"><span>{{ SITE_NAME_1 }}</span><span>{{ SITE_NAME_2 }}</span></a></h3>
                <div class='nav-box'>
                    <ul>
                        <li><a href=''>分类</a><i class='icon-sort glyphicon glyphicon-triangle-bottom'></i></li>
                        <li><a href=''>时光轴</a></li>
                        <li><a href='{% url 'aboutme' %}'>关于</a></li>
                    </ul>
                </div>
                <div class='search'><input type='text' placeholder='查询文章...'><i class='glyphicon glyphicon-search'></i></div>

    </header>