{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'index/index.css' %}">
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="stylesheet" href="{% static 'common/header.css' %}">
	<link rel="stylesheet" href="{% static 'common/footer.css' %}">
	
	<title>Document</title>
</head>
<body>
 <header class='clearfix'>
            <h3><span>{{ SITE_NAME_1 }}</span><span>{{ SITE_NAME_2 }}</span></h3>
            <div class='nav-box'>
                <ul>
                    <li><a href=''>分类</a><i class='icon-sort glyphicon glyphicon-triangle-bottom'></i></li>
                    <li><a href=''>时光轴</a></li>
                    <li><a href=''>关于</a></li>
                </ul>
            </div>
            <div class='search'><input type='text' placeholder='查询文章...'><i class='glyphicon glyphicon-search'></i></div>

    </header>
	<main>
		<ul class="content">
			<h2 class="htitle">最新博文</h2>
			<li class="subcontent">
				<h3>搜索力：帮你解决90％人生难题的思维能力</h3>
				<div class="subcontent-con">
					<div class="subcontent-con-left">
						<p>没看这本书之前，我一直以为这本书的是搜索力三个字的意思，就是在网上搜索资料的能力,但是看完本书之后我才发现我理解的有点狭隘了，这种搜索力不止是一种整合资源的能力，更是一种认识自我、学习他人的能力... <a href="">阅读更多</a></p>
						<p class="operate">
							<span class="published_time"><a href="">2020-07-30</a></span>
							<span class="readings"><i class="glyphicon glyphicon-eye-open"></i><a href="">486 阅读</a></span>
							<span class="comments"><i class="glyphicon glyphicon-comment"></i><a href="">2 评论</a></span>
							<span class="likes"><i class="glyphicon glyphicon-heart"></i><a href="">590 赞</a></span>
						</p>
					</div>
					<div class="subcontent-con-right">
						<img src="{% static 'index/img/java.jpg' %}" alt="">
					</div>
				</div>
			</li>
			<li class="subcontent">
				<h3>搜索力：帮你解决90％人生难题的思维能力</h3>
				<div class="subcontent-con">
					<div class="subcontent-con-left">
						<p>没看这本书之前，我一直以为这本书的是搜索力三个字的意思，就是在网上搜索资料的能力,但是看完本书之后我才发现我理解的有点狭隘了，这种搜索力不止是一种整合资源的能力，更是一种认识自我、学习他人的能力... <a href="">阅读更多</a></p>
						<p class="operate">
							<span class="published_time"><a href="">2020-07-30</a></span>
							<span class="readings"><i class="glyphicon glyphicon-eye-open"></i><a href="">486 阅读</a></span>
							<span class="comments"><i class="glyphicon glyphicon-comment"></i><a href="">2 评论</a></span>
							<span class="likes"><i class="glyphicon glyphicon-heart"></i><a href="">590 赞</a></span>
						</p>
					</div>
					<div class="subcontent-con-right">
						<img src="{% static 'index/img/java.jpg' %}" alt="">
					</div>
				</div>
			</li>
			<li class="subcontent">
				<h3>搜索力：帮你解决90％人生难题的思维能力</h3>
				<div class="subcontent-con">
					<div class="subcontent-con-left">
						<p>没看这本书之前，我一直以为这本书的是搜索力三个字的意思，就是在网上搜索资料的能力,但是看完本书之后我才发现我理解的有点狭隘了，这种搜索力不止是一种整合资源的能力，更是一种认识自我、学习他人的能力... <a href="">阅读更多</a></p>
						<p class="operate">
							<span class="published_time"><a href="">2020-07-30</a></span>
							<span class="readings"><i class="glyphicon glyphicon-eye-open"></i><a href="">486 阅读</a></span>
							<span class="comments"><i class="glyphicon glyphicon-comment"></i><a href="">2 评论</a></span>
							<span class="likes"><i class="glyphicon glyphicon-heart"></i><a href="">590 赞</a></span>
						</p>
					</div>
					<div class="subcontent-con-right">
						<img src="{% static 'index/img/java.jpg' %}" alt="">
					</div>
				</div>
			</li>
			<li class="subcontent">
				<h3>搜索力：帮你解决90％人生难题的思维能力</h3>
				<div class="subcontent-con">
					<div class="subcontent-con-left">
						<p>没看这本书之前，我一直以为这本书的是搜索力三个字的意思，就是在网上搜索资料的能力,但是看完本书之后我才发现我理解的有点狭隘了，这种搜索力不止是一种整合资源的能力，更是一种认识自我、学习他人的能力... <a href="">阅读更多</a></p>
						<p class="operate">
							<span class="published_time"><a href="">2020-07-30</a></span>
							<span class="readings"><i class="glyphicon glyphicon-eye-open"></i><a href="">486 阅读</a></span>
							<span class="comments"><i class="glyphicon glyphicon-comment"></i><a href="">2 评论</a></span>
							<span class="likes"><i class="glyphicon glyphicon-heart"></i><a href="">590 赞</a></span>
						</p>
					</div>
					<div class="subcontent-con-right">
						<img src="{% static 'index/img/java.jpg' %}" alt="">
					</div>
				</div>
			</li>
			<li class="subcontent">
				<h3>搜索力：帮你解决90％人生难题的思维能力</h3>
				<div class="subcontent-con">
					<div class="subcontent-con-left">
						<p>没看这本书之前，我一直以为这本书的是搜索力三个字的意思，就是在网上搜索资料的能力,但是看完本书之后我才发现我理解的有点狭隘了，这种搜索力不止是一种整合资源的能力，更是一种认识自我、学习他人的能力... <a href="">阅读更多</a></p>
						<p class="operate">
							<span class="published_time"><a href="">2020-07-30</a></span>
							<span class="readings"><i class="glyphicon glyphicon-eye-open"></i><a href="">486 阅读</a></span>
							<span class="comments"><i class="glyphicon glyphicon-comment"></i><a href="">2 评论</a></span>
							<span class="likes"><i class="glyphicon glyphicon-heart"></i><a href="">590 赞</a></span>
						</p>
					</div>
					<div class="subcontent-con-right">
						<img src="" alt="">
					</div>
				</div>
			</li>
			<div class="lookmore"><form action=""><input type="submit" value="查看更多"></form></div>
		</ul>

		<div class="side">
			<div class="side-myinfo">
				<h3 class="side-myinfo-title">我的名片</h3>
				<div class="side-myinfo-content">
					<ul>
						<li>职业：后台开发程序员</li>
						<li>现居：浙江-杭州</li>
						<li>手机：15968849411</li>
						<li>github:https://github.com/JanzenKin</li>
					</ul>
				</div>

			</div>
			<div class="side-timesort">
				<h2 class="htitle">时光轴</h2>
				<ul>
					<li><a href="">2020年7月</a></li>
					<li><a href="">2020年6月</a></li>
					<li><a href="" >2020年5月</a></li>
					<li><a href="">2020年4月</a></li>
					<li><a href="" >2020年3月</a></li>
					<li><a href="" >2020年2月</a></li>
					<li><a href="">2020年1月</a></li>
					<li><a href="">2019年及以前</a></li>
				</ul>
			</div>
			<div class="side-sort">
				<h2 class="htitle">分类</h2>
				<ul>
					<li><a href="">HTML</a></li>
					<li><a href="">CSS</a></li>
					<li><a href="" >Javascript</a></li>
					<li><a href="">操作系统</a></li>
					<li><a href="" >数据库</a></li>
					<li><a href="" >数据结构</a></li>
					<li><a href="">算法</a></li>
					<li><a href="">java</a></li>
				</ul>
			</div>
			<div class="side-recomand">
				<h2 class="htitle">作者推荐文章</h2>
				<ul>
					<li><a href="">Java中的内存回收与内存泄漏的防治</a></li>
					<li><i></i><a href="">如何理解数据库操作流程</a></li>
					<li><i></i><a href="" >如何更好的使用算法</a></li>
					<li><i></i><a href="">python实用技巧</a></li>
					<li><i></i><a href="" >如何设计数据库</a></li>
				</ul>
			</div>
		</div>
	</main>
	<script src="{% static 'common/footer.js' %}"></script>
</body>
</html>