<div class='side'>
			<div class='recommend'>
				<h1>推荐阅读</h1>
				<ul>
					<li>
						<h2><a href=''>我为什么要做一个博客系统</a></h2>
						<p class='operate clearfix'>
							<span class='published_time'>2020-07-30</span>
							<span class='readings'><i class='glyphicon glyphicon-eye-open'></i><a href=''>486</a></span>
							<span class='comments'><i class='glyphicon glyphicon-comment'></i><a href=''>2</a></span>
							<span class='likes'><i class='glyphicon glyphicon-heart'></i><a href=''>590</a></span>
						</p>

					</li>
					<li>
						<h2><a href=''>Intellij IDEA 2019 最新优化配置</a></h2>
						<p class='operate clearfix'>
							<span class='published_time'>2020-07-30</span>
							<span class='readings'><i class='glyphicon glyphicon-eye-open'></i><a href=''>486</a></span>
							<span class='comments'><i class='glyphicon glyphicon-comment'></i><a href=''>2</a></span>
							<span class='likes'><i class='glyphicon glyphicon-heart'></i><a href=''>590</a></span>
						</p>
					</li>
					<li>
						<h2><a href=''>Intellij IDEA 2019 最新优化配置</a></h2>
						<p class='operate clearfix'>
							<span class='published_time'>2020-07-30</span>
							<span class='readings'><i class='glyphicon glyphicon-eye-open'></i><a href=''>486</a></span>
							<span class='comments'><i class='glyphicon glyphicon-comment'></i><a href=''>2</a></span>
							<span class='likes'><i class='glyphicon glyphicon-heart'></i><a href=''>590</a></span>
						</p>
					</li>
				</ul>
			</div>
		</div>